/* Reviews Container */
.reviews-container {
    display: flex; /* Use flexbox to arrange reviews side by side */
    flex-wrap: wrap; /* Wrap reviews to the next line if necessary */
    justify-content: space-around; /* Distribute reviews evenly along the main axis */
    padding: 20px; /* Add padding to the reviews container */
    font-size: 16px; /* Reduced font size for better readability */
    margin-left: 350px;
    
}

/* Review */
.review {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    width: calc(50% - 40px); /* Adjusted width for better responsiveness */
    max-width: 30%; /* Set maximum width to avoid stretching on larger screens */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Added subtle shadow */
    background-color: #e5ffec
}

/* User Info */
.username {
    font-weight: bold;
    margin-bottom: 5px; /* Added space below username */
}

/* Review Content */
.review-text {
    margin-bottom: 10px; /* Added space below review text */
}

/* Review ID */
.review-id {
    font-size: 14px;
    color: #666; /* Dimmed color for review ID */
}

/* Actions */
.actions {
    margin-top: 10px; /* Added space above actions */
    text-align: right;
}

.love-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.love-button img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease; /* Added smooth transition for hover effect */
}

.love-button:hover img {
    transform: scale(1.1); /* Scale up on hover for interactive feedback */
}
